
/* profile */

.flex-container {
    display: flex;
    position: relative; 
    overflow: hidden;
    width: 100%;
  }
  .flex-child {
    flex: 1;
  } 

#canvas3d{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 5rem;
}
  .flex-child.data{
    min-width: 65%;
    min-height: 100vh; 
    margin-right: 30px; 
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
  }
  /* .profile-contain {
    flex: 1;
    max-width: 450px;
    max-height: 450px;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 20% 20% 20% 20%;
    position: relative;
    background-color: #0000005f;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: flex-end;
    filter: brightness(50%);
} */
/* .profile-contain h1{
    font-size: 4rem;
    color: rgb(163,156,244);
} */
.data-content{
    flex: 1;
}
.flex-child.data h2{
    color: rgb(255, 255, 255);
}
.flex-child.data h3{
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(255, 255, 255);
}
.flex-child.data h1 {
    font-size: 4rem;
    color: rgb(163, 156, 244);
    /* transform: rotate(90deg); */
    /* width: 500px; */
    transform-origin: right bottom;
    margin-bottom: 0;
    margin-right: 0; /* Push the text to the right */
    text-shadow: 0 0 30px -15px rgb(238,102,170);
}
.flex-child.data img {
    width: 100px;
    height: 50;
    color: rgb(163, 156, 244);
    /* transform: rotate(90deg); */
    transform-origin: right bottom;
    margin-bottom: 0;
    text-shadow: 0 0 30px -15px rgb(238,102,170);
}
.profile-contain {
    font-size: 0.5rem;
    color: rgb(163, 156, 244);
    transform: rotate(90deg);
    /* transform-origin: right bottom; */
    margin-top: 0;
    margin-left: 0;
}

/* .profile-contain h2{
    font-size: 1.1rem;
    color: rgb(163,156,244);
}
.profile-contain h3{
    font-size: 0.8rem;
    color: #ffffff;
}

.profile-contain:hover{
    box-shadow: 
    0 0 30px -15px rgb(238,102,170) ,
    0 0 70px -20px rgb(163,156,244);
    filter: brightness(100%);
} */