@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', sans-serif;
}

body{
    background: rgb(9,6,69);
    /* background: linear-gradient(to right, rgb(57, 7, 67) 5%, rgb(38, 2, 56) 10%, rgb(11, 11, 58) 50%, rgb(8, 0, 26) 70%, rgb(0, 0, 14) 90%); */
    max-height: 100vh;
    overflow-x: hidden;
}
.overflowing {
    margin-top: 100px;
    height: 100%; /* Or a specific height value */
    overflow: hidden;
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.pane{
    font-size: 2em;
    color: rgb(214,116,183);
    pointer-events: none;
}

.navigation{
    position: fixed;
}

.navigation a {
    text-decoration: none;
    color: rgb(214,116,183);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover{
    background:  rgb(214,116,183);
    color: rgb(110, 8, 71);
    cursor: pointer;
}

.main{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
    z-index: 1; 
    color: white;
}
.welcome {
    position: relative; /* Change to relative positioning */
    z-index: 1;
}

.welcome h1 {
    font-size: 120px;
}
.welcome img{
    width: 20px;
    height: 20px;
}
.welcome a {
    position: absolute; /* Position absolutely within the .welcome container */
    font-size: 1rem;
    color: rgb(255, 255, 255);
    bottom: 0;
    right: 0; /* Position at the bottom-right corner */
    margin-right: 10px; /* Add margin-right for spacing */
}


.flex-container {
    display: flex;
    position: relative; 
    height: 100vh; 
    overflow: hidden;
}
.flex-child {
    flex: 1;
}  
.flex-child.data{
    min-width: 60%;
}
#text{
    margin-right: 100px;
    padding: 20px;
    border-color: rgb(240, 248, 255, .7);
    color: rgb(240, 248, 255, .7);
    animation: fadeIn 5s;
    text-align: left;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.landingpage{
    margin-top: 0;
    position: relative;
    /* background-color: white; */
}

#profile{
    margin-top: 30px;
}
.typewriter-text{
  font-size: 100px;
  -webkit-text-stroke: 1px rgb(214,116,183);
}

.card {
    width:550px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 60% 40% 40% 20%;
    position: relative;
    /* border: 5px solid transparent; */
    /* border-image: linear-gradient(to right,  rgb(240, 105, 174), rgb(37, 31, 63), black);
    border-image-slice: 1; */
    background: linear-gradient(to right,  rgb(240, 105, 174), rgb(37, 31, 63), black);
}
.card::before {
    content: '';
    position: absolute;
    top: 0; /* Adjust the top to 0 to show only the top border */
    left: 5px;
    right: 5px;
    border-top: dashed 2px rgb(240, 105, 174); /* Add the border to the top side only */
    border-radius: 15px;
}

.card h1 {
    color: rgb(255, 118, 189);
    margin-bottom: 10px;
    font-size: 2rem;
}

.card p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

  